<div class="container">
    <h2>Registrate</h2>
    <form>
        <div class="form-group">
            <label for="username">Nombre:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="username">Apellido:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="username">e-mail:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="username">Edad:</label>
            <input type="number" id="username" name="username" required>
        </div>
        <div class="form-group">
            <button type="submit">registrarse</button>
        </div>
    </form>
</div>